In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files

uploaded = files.upload()

Saving sri_lanka_flood_risk_dataset_25000.csv to sri_lanka_flood_risk_dataset_25000.csv

In [4]:
df = pd.read_csv('sri_lanka_flood_risk_dataset_25000.csv')

In [5]:
df.head()

,record_id,district,place_name,latitude,longitude,elevation_m,distance_to_river_m,landcover,soil_type,water_supply,...,infrastructure_score,nearest_hospital_km,nearest_evac_km,flood_risk_score,flood_occurrence_current_event,inundation_area_sqm,is_good_to_live,reason_not_good_to_live,is_synthetic,generation_date
0,F100000,Kegalle,Kudagama,7.416887,81.789107,88,339.2,Wetland,Loamy,Municipal,...,12,2.76,2.74,39.56,No,0,No,Poor infrastructure,True,6/2/2025
1,F100001,Matara,Kiriwatta,6.266956,81.041369,58,1257.6,Agriculture,Clay,Municipal,...,46,1.61,8.45,30.64,No,0,Yes,NaN,True,11/14/2024
2,F100002,Trincomalee,Uduthota East,6.742164,80.927326,80,5225.3,Forest,Silty,Well,...,30,4.40,3.01,35.60,No,0,Yes,NaN,True,3/1/2024
3,F100003,Puttalam,Mahagama East,5.922365,81.484788,111,2950.4,Urban,Sandy,Surface water,...,58,11.44,4.94,17.44,No,0,Yes,NaN,True,11/6/2024
4,F100004,Matara,Welimulla East,7.899872,80.826149,26,228.3,Agriculture,Silty,Well,...,45,17.85,4.65,61.92,No,0,No,High flood risk,True,7/21/2024

Warning: Total number of columns (32) exceeds max_columns (20) limiting to first (20) columns.

In [6]:
df.shape

(25000, 32)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   record_id                       25000 non-null  object
 1   district                        25000 non-null  object
 2   place_name                      25000 non-null  object
 3   latitude                        25000 non-null  float64
 4   longitude                       25000 non-null  float64
 5   elevation_m                     25000 non-null  int64
 6   distance_to_river_m             25000 non-null  float64
 7   landcover                       25000 non-null  object
 8   soil_type                       25000 non-null  object
 9   water_supply                    25000 non-null  object
 10  electricity                     24211 non-null  object
 11  road_quality                    25000 non-null  object
 12  population_density_per_km2      25000 non-null  int64
 13  built_up_percent                25000 non-null  float64
 14  urban_rural                     25000 non-null  object
 15  rainfall_7d_mm                  25000 non-null  float64
 16  monthly_rainfall_mm             25000 non-null  float64
 17  drainage_index                  25000 non-null  float64
 18  ndvi                            25000 non-null  float64
 19  ndwi                            25000 non-null  float64
 20  water_presence_flag             25000 non-null  object
 21  historical_flood_count          25000 non-null  int64
 22  infrastructure_score            25000 non-null  int64
 23  nearest_hospital_km             25000 non-null  float64
 24  nearest_evac_km                 25000 non-null  float64
 25  flood_risk_score                25000 non-null  float64
 26  flood_occurrence_current_event  25000 non-null  object
 27  inundation_area_sqm             25000 non-null  int64
 28  is_good_to_live                 25000 non-null  object
 29  reason_not_good_to_live         6828 non-null   object
 30  is_synthetic                    25000 non-null  bool
 31  generation_date                 25000 non-null  object
dtypes: bool(1), float64(12), int64(5), object(14)
memory usage: 5.9+ MB

In [8]:
df.describe()

,latitude,longitude,elevation_m,distance_to_river_m,population_density_per_km2,built_up_percent,rainfall_7d_mm,monthly_rainfall_mm,drainage_index,ndvi,ndwi,historical_flood_count,infrastructure_score,nearest_hospital_km,nearest_evac_km,flood_risk_score,inundation_area_sqm
count,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,7.920075,80.768514,187.514480,2013.472684,625.340320,25.222840,80.386532,216.095284,0.501594,0.168128,0.031903,0.201000,46.398320,7.964427,6.021932,33.265946,12234.618000
std,1.168603,0.647936,323.405463,2007.170691,504.674553,18.619808,58.434452,137.372508,0.223828,0.272762,0.265422,0.505697,20.004667,7.891781,6.045651,14.783238,44147.111928
min,5.900090,79.650121,0.000000,0.000000,10.000000,1.000000,0.000000,0.000000,0.003000,-0.792000,-1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000
25%,6.907247,80.211357,31.000000,582.975000,286.750000,9.900000,33.075000,106.600000,0.331000,-0.020000,-0.147000,0.000000,32.000000,2.280000,1.740000,22.547500,0.000000
50%,7.923315,80.760618,68.000000,1394.200000,519.000000,23.300000,69.500000,202.000000,0.501000,0.165000,0.026000,0.000000,46.000000,5.580000,4.170000,32.300000,0.000000
75%,8.929212,81.329265,124.000000,2783.400000,796.000000,37.200000,116.600000,307.100000,0.674000,0.353000,0.207000,0.000000,60.000000,11.060000,8.350000,42.940000,0.000000
max,9.949978,81.899993,2148.000000,16802.000000,3113.000000,95.000000,372.200000,863.700000,0.999000,1.000000,1.000000,5.000000,95.000000,75.710000,55.950000,100.000000,312539.000000

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [10]:
df.head()

,record_id,district,place_name,latitude,longitude,elevation_m,distance_to_river_m,landcover,soil_type,water_supply,...,infrastructure_score,nearest_hospital_km,nearest_evac_km,flood_risk_score,flood_occurrence_current_event,inundation_area_sqm,is_good_to_live,reason_not_good_to_live,is_synthetic,generation_date
0,F100000,Kegalle,Kudagama,7.416887,81.789107,88,339.2,Wetland,Loamy,Municipal,...,12,2.76,2.74,39.56,No,0,No,Poor infrastructure,True,6/2/2025
1,F100001,Matara,Kiriwatta,6.266956,81.041369,58,1257.6,Agriculture,Clay,Municipal,...,46,1.61,8.45,30.64,No,0,Yes,NaN,True,11/14/2024
2,F100002,Trincomalee,Uduthota East,6.742164,80.927326,80,5225.3,Forest,Silty,Well,...,30,4.40,3.01,35.60,No,0,Yes,NaN,True,3/1/2024
3,F100003,Puttalam,Mahagama East,5.922365,81.484788,111,2950.4,Urban,Sandy,Surface water,...,58,11.44,4.94,17.44,No,0,Yes,NaN,True,11/6/2024
4,F100004,Matara,Welimulla East,7.899872,80.826149,26,228.3,Agriculture,Silty,Well,...,45,17.85,4.65,61.92,No,0,No,High flood risk,True,7/21/2024

In [11]:
df.isnull().sum()

record_id                             0
district                              0
place_name                            0
latitude                              0
longitude                             0
elevation_m                           0
distance_to_river_m                   0
landcover                             0
soil_type                             0
water_supply                          0
electricity                         789
road_quality                          0
population_density_per_km2            0
built_up_percent                      0
urban_rural                           0
rainfall_7d_mm                        0
monthly_rainfall_mm                   0
drainage_index                        0
ndvi                                  0
ndwi                                  0
water_presence_flag                   0
historical_flood_count                0
infrastructure_score                  0
nearest_hospital_km                   0
nearest_evac_km                       0
flood_risk_score                      0
flood_occurrence_current_event        0
inundation_area_sqm                   0
is_good_to_live                       0
reason_not_good_to_live           18172
is_synthetic                          0
generation_date                       0
dtype: int64

In [13]:
df = df.dropna(subset=['district'])

In [16]:
df['monthly_rainfall_mm'] = df['monthly_rainfall_mm'].fillna(0)
df['population_density_per_km2'] = df['population_density_per_km2'].fillna(0)
df['elevation_m'] = df['elevation_m'].fillna(df['elevation_m'].median())

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df = df.drop_duplicates()

In [19]:
df['district'] = df['district'].str.strip().str.title()

In [24]:
df.district.unique()

array(['Kegalle', 'Matara', 'Trincomalee', 'Puttalam', 'Galle', 'Colombo',
       'Matale', 'Vavuniya', 'Hambantota', 'Mannar', 'Gampaha', 'Kandy',
       'Nuwara Eliya', 'Batticaloa', 'Ampara', 'Kalutara', 'Badulla',
       'Polonnaruwa', 'Mullaitivu', 'Ratnapura', 'Monaragala',
       'Kurunegala', 'Anuradhapura', 'Kilinochchi', 'Jaffna'],
      dtype=object)

In [26]:
# Define bins and labels for flood risk levels
bins = [0, 25, 50, 75, 101] # Bins from 0 up to 100 for flood_risk_score
labels = ['LOW', 'MEDIUM', 'HIGH', 'VERY HIGH']


# Create the 'flood_risk_level' column by categorizing 'flood_risk_score'
df['flood_risk_level'] = pd.cut(df['flood_risk_score'], bins=bins, labels=labels, right=False)


# Convert to string and apply string operations for consistency
df['flood_risk_level'] = df['flood_risk_level'].astype(str).str.strip().str.upper()

In [27]:
df.head()

,record_id,district,place_name,latitude,longitude,elevation_m,distance_to_river_m,landcover,soil_type,water_supply,...,nearest_hospital_km,nearest_evac_km,flood_risk_score,flood_occurrence_current_event,inundation_area_sqm,is_good_to_live,reason_not_good_to_live,is_synthetic,generation_date,flood_risk_level
0,F100000,Kegalle,Kudagama,7.416887,81.789107,88,339.2,Wetland,Loamy,Municipal,...,2.76,2.74,39.56,No,0,No,Poor infrastructure,True,6/2/2025,MEDIUM
1,F100001,Matara,Kiriwatta,6.266956,81.041369,58,1257.6,Agriculture,Clay,Municipal,...,1.61,8.45,30.64,No,0,Yes,NaN,True,11/14/2024,MEDIUM
2,F100002,Trincomalee,Uduthota East,6.742164,80.927326,80,5225.3,Forest,Silty,Well,...,4.40,3.01,35.60,No,0,Yes,NaN,True,3/1/2024,MEDIUM
3,F100003,Puttalam,Mahagama East,5.922365,81.484788,111,2950.4,Urban,Sandy,Surface water,...,11.44,4.94,17.44,No,0,Yes,NaN,True,11/6/2024,LOW
4,F100004,Matara,Welimulla East,7.899872,80.826149,26,228.3,Agriculture,Silty,Well,...,17.85,4.65,61.92,No,0,No,High flood risk,True,7/21/2024,HIGH

Warning: Total number of columns (33) exceeds max_columns (20) limiting to first (20) columns.

In [28]:
df['flood_risk_level'] = df['flood_risk_level'].replace({
    'HIGH RISK': 'HIGH',
    'H': 'HIGH',
    'MEDIUM RISK': 'MEDIUM',
    'M': 'MEDIUM',
    'LOW RISK': 'LOW',
    'L': 'LOW'
})

In [29]:
df.head()

,record_id,district,place_name,latitude,longitude,elevation_m,distance_to_river_m,landcover,soil_type,water_supply,...,nearest_hospital_km,nearest_evac_km,flood_risk_score,flood_occurrence_current_event,inundation_area_sqm,is_good_to_live,reason_not_good_to_live,is_synthetic,generation_date,flood_risk_level
0,F100000,Kegalle,Kudagama,7.416887,81.789107,88,339.2,Wetland,Loamy,Municipal,...,2.76,2.74,39.56,No,0,No,Poor infrastructure,True,6/2/2025,MEDIUM
1,F100001,Matara,Kiriwatta,6.266956,81.041369,58,1257.6,Agriculture,Clay,Municipal,...,1.61,8.45,30.64,No,0,Yes,NaN,True,11/14/2024,MEDIUM
2,F100002,Trincomalee,Uduthota East,6.742164,80.927326,80,5225.3,Forest,Silty,Well,...,4.40,3.01,35.60,No,0,Yes,NaN,True,3/1/2024,MEDIUM
3,F100003,Puttalam,Mahagama East,5.922365,81.484788,111,2950.4,Urban,Sandy,Surface water,...,11.44,4.94,17.44,No,0,Yes,NaN,True,11/6/2024,LOW
4,F100004,Matara,Welimulla East,7.899872,80.826149,26,228.3,Agriculture,Silty,Well,...,17.85,4.65,61.92,No,0,No,High flood risk,True,7/21/2024,HIGH

In [31]:
df = df[df['rainfall_7d_mm'] >= 0]

In [33]:
df = df[df['population_density_per_km2'] >= 0]

In [35]:
df = df[df['elevation_m'] >= -10]

In [36]:
df = df[
    (df['latitude'].between(5, 10)) &
    (df['longitude'].between(79, 82))
]

In [38]:
df['generation_date'] = pd.to_datetime(df['generation_date'])
df['year'] = df['generation_date'].dt.year
df['year'] = df['year'].astype(int)

In [39]:
df['risk_score'] = df['flood_risk_level'].map({
    'HIGH': 3,
    'MEDIUM': 2,
    'LOW': 1
})

In [41]:
df['population_at_risk'] = df['population_density_per_km2'] * df['risk_score']

In [44]:
#outlier detection
Q1 = df['rainfall_7d_mm'].quantile(0.25)
Q3 = df['rainfall_7d_mm'].quantile(0.75)
IQR = Q3 - Q1

df = df[
    (df['rainfall_7d_mm'] >= Q1 - 1.5 * IQR) &
    (df['rainfall_7d_mm'] <= Q3 + 1.5 * IQR)
]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24717 entries, 0 to 24999
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   record_id                       24717 non-null  object
 1   district                        24717 non-null  object
 2   place_name                      24717 non-null  object
 3   latitude                        24717 non-null  float64
 4   longitude                       24717 non-null  float64
 5   elevation_m                     24717 non-null  int64
 6   distance_to_river_m             24717 non-null  float64
 7   landcover                       24717 non-null  object
 8   soil_type                       24717 non-null  object
 9   water_supply                    24717 non-null  object
 10  electricity                     23938 non-null  object
 11  road_quality                    24717 non-null  object
 12  population_density_per_km2      24717 non-null  int64
 13  built_up_percent                24717 non-null  float64
 14  urban_rural                     24717 non-null  object
 15  rainfall_7d_mm                  24717 non-null  float64
 16  monthly_rainfall_mm             24717 non-null  float64
 17  drainage_index                  24717 non-null  float64
 18  ndvi                            24717 non-null  float64
 19  ndwi                            24717 non-null  float64
 20  water_presence_flag             24717 non-null  object
 21  historical_flood_count          24717 non-null  int64
 22  infrastructure_score            24717 non-null  int64
 23  nearest_hospital_km             24717 non-null  float64
 24  nearest_evac_km                 24717 non-null  float64
 25  flood_risk_score                24717 non-null  float64
 26  flood_occurrence_current_event  24717 non-null  object
 27  inundation_area_sqm             24717 non-null  int64
 28  is_good_to_live                 24717 non-null  object
 29  reason_not_good_to_live         6702 non-null   object
 30  is_synthetic                    24717 non-null  bool
 31  generation_date                 24717 non-null  datetime64[ns]
 32  flood_risk_level                24717 non-null  object
 33  year                            24717 non-null  int64
 34  risk_score                      24600 non-null  float64
 35  population_at_risk              24600 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(14), int64(6), object(14)
memory usage: 6.8+ MB

In [48]:
df.describe()

,latitude,longitude,elevation_m,distance_to_river_m,population_density_per_km2,built_up_percent,rainfall_7d_mm,monthly_rainfall_mm,drainage_index,ndvi,...,historical_flood_count,infrastructure_score,nearest_hospital_km,nearest_evac_km,flood_risk_score,inundation_area_sqm,generation_date,year,risk_score,population_at_risk
count,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,...,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717.000000,24717,24717.000000,24600.000000,24600.000000
mean,7.920251,80.767999,187.200065,2012.628143,624.841809,25.209257,78.220998,216.041793,0.501807,0.168027,...,0.201157,46.426953,7.966736,6.021954,33.040381,11814.395760,2024-12-08 10:35:12.198082048,2024.438686,1.811789,1135.062927
min,5.900090,79.650121,0.000000,0.000000,10.000000,1.000000,0.000000,0.000000,0.003000,-0.792000,...,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,2023-12-10 00:00:00,2023.000000,1.000000,10.000000
25%,6.906516,80.211271,31.000000,583.300000,286.000000,9.900000,32.700000,106.600000,0.331000,-0.020000,...,0.000000,32.000000,2.280000,1.740000,22.420000,0.000000,2024-06-08 00:00:00,2024.000000,1.000000,439.000000
50%,7.924152,80.760438,68.000000,1393.300000,518.000000,23.300000,68.500000,202.000000,0.502000,0.165000,...,0.000000,46.000000,5.580000,4.170000,32.120000,0.000000,2024-12-10 00:00:00,2024.000000,2.000000,856.000000
75%,8.929228,81.328463,123.000000,2779.200000,796.000000,37.100000,114.800000,307.000000,0.674000,0.352000,...,0.000000,60.000000,11.060000,8.340000,42.680000,0.000000,2025-06-10 00:00:00,2025.000000,2.000000,1494.000000
max,9.949978,81.899993,2148.000000,16802.000000,3113.000000,95.000000,241.700000,863.700000,0.999000,1.000000,...,5.000000,95.000000,75.710000,55.950000,94.960000,312539.000000,2025-12-08 00:00:00,2025.000000,3.000000,9150.000000
std,1.169031,0.647751,322.888250,2007.148010,504.383360,18.610874,55.075903,137.337643,0.223787,0.272398,...,0.505266,19.997286,7.897377,6.054531,14.641172,43509.901134,NaN,0.555844,0.637799,1049.042343

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [49]:
df['flood_risk_level'].value_counts()

flood_risk_level
MEDIUM       13722
LOW           7754
HIGH          3124
VERY HIGH      117
Name: count, dtype: int64

In [50]:
df.to_csv('cleaned_flood_risk_data.csv', index=False)